@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  html::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
  }
}

@layer utilities {
  .no-spinner {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
  }

  .no-spinner::-ms-expand {
    display: none;
  }
}